body {
  font-family: "Roboto";
  justify-content: center;
  height: 86vh;
  width: 100vw;
  background-color: #f5f5ef;
}

.no__item {
  color: rgb(195, 84, 84);
  font-size: 30px;
  text-align: center;
  margin-top: 30vh;
}

.card {
  color: #307570;
  font-weight: 300;
  font-size: 18px;
  font-weight: bold;
  border: none;
  height: max-content;
  position: relative;
  width: 240px;
  border-radius: unset;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  justify-self: center;
}

.card-title {
  padding-top: 15px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.card__goal {
  margin-bottom: 0.5rem;
  text-align: left;
  text-decoration: none;
}

.btn-primary {
  background-color: #6bb961;
  border-color: #6bb961;
}

.btn-primary:hover {
  background-color: #6bb961;
  border-color: #6bb961;
}

.btn-primary:focus {
  background-color: #6bb961;
  border-color: #6bb961;
}

.btn-success {
  color: #fff;
  background-color: #6bb961;
  border-color: #6bb961;
}

.btn-secondary {
  border-radius: unset;
  color: #fff;
}

.btn-secondary:hover {
  color: #307570;
  border-color: none;
  background-color: #fff;
  color: #e8f196;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 980px) {
  .card__list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .card__list {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
}

.btn-warning {
  color: #307570;
  background-color: unset;
  border-radius: unset;
  border-color: unset;
  border-bottom-right-radius: 10px;
}

.btn-warning:focus {
  color: #307570;
  background-color: #fff;
  border-color: none;
}

.btn-warning:hover {
  color: #307570;
  border-color: #307570;
  background-color: #fff;
}

#deleteCard {
  position: absolute;
  right: 2%;
  top: 2%;
}
#doneCheckboxDiv {
  padding-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}
